.wrapper{
	overflow: hidden;
}
.manage{
	margin-top: 70px;
}
/*鍙宠竟灞曠ず鐨勭洅瀛�*/
.show_box{
    width: 85%;
	height: auto;
	display: inline-block;
	position: absolute;
	left: 200px;
}
.show_content{
	margin: 0px 0px 0px 20px;
}
.show_title{
	font: 18px/60px "寰蒋闆呴粦";
    font-weight: 300;
}
/*鎿嶄綔鎸夐挳*/
.operation_button{
	margin:0px 0px 20px 0px;
}
.operation_button button{
	margin-right: 10px;
	border-radius: 0px;
    width: 80px;
}
/*璀﹀憡椤甸潰鐨勬寜閽�*/
.alarm_delete{
	width: 60px;
    height: 30px;
    border-radius: 0px;
}
/*鎼滅储*/
.search_cloud{
	float: right;
}
.search_input{
	width: 300px;
	height: 34px;
	text-indent: 30px;
	border: 1px solid #dddddd;
	background: url(../img/search.png) 270px no-repeat;
	
}
.search_button{
	position: relative;
    right: 30px;
}
/*琛ㄦ牸*/
.show_content1>.cloudList_tabel{
	font-size: 12px;
}
.show_content1>.cloudList_tabel thead tr{
	border-top:1px solid #d1d5de;
	border-bottom:1px solid #d1d5de;
	background: #f6f8fa;
}
.show_content1>.cloudList_tabel tr td:first-child{
	text-align: center;
}
.show_content1>.cloudList_tabel tbody td{
	vertical-align:middle;
	font-size: 14px;
}
.show_content1>.cloudList_tabel thead th{
	vertical-align:middle;
	font-size: 14px;
}
.show_content1>.cloudList_tabel tr{
	height: 50px;
    vertical-align: middle;
}
.show_content1>.cloudList_tabel tr:hover{
	background: #dbe3f580;;
}
/*鍒嗛〉*/
.pagination{
	margin-right: 20px;
	float: right;
}
