.wrapper{
	overflow: hidden;
}
.manage{
	margin-top: 70px;
}
/*鍙宠竟灞曠ず鐨勭洅瀛�*/
.show_box{
    width: 85%;
	height: auto;
	display: inline-block;
	position: absolute;
	left: 200px;
}
.show_content{
	margin: 0px 0px 0px 20px;
}
.show_title{
	font: 18px/60px "寰蒋闆呴粦";
    font-weight: 300;
}
/*鎿嶄綔鎸夐挳*/
.operation_button{
	margin:0px 0px 20px 0px;
}
.operation_button button{
	margin-right: 10px;
	border-radius: 0px;
}
/*alarmlist page style*/
.alarm_delete{
	width: 60px;
    height: 30px;
    border-radius: 0px;
}
/*鎼滅储*/
.search_cloud{
	float: right;
}
.search_input{
	width: 300px;
	height: 34px;
	text-indent: 30px;
	border: 1px solid #dddddd;
	background: url(../img/search.png) 270px no-repeat;
	
}
.search_button{
	position: relative;
    right: 30px;
}
/*alarmList page  mystyle*/
.alarm_manage{
	background: #f5f5f5;
}
.show_alarmListBox{
	width: 1200px;
	margin:20px auto;
	background: #FFFFFF;
}
.alarm_showContent{
	width: 1120px;
	margin: 0 auto;
}
.show_alarmListBox .show_content1>ul{
   width:100%;
   margin: 0 auto;
   list-style: none;
   
}
.show_alarmListBox .show_content1>ul li{
   height: 42px;
   line-height: 42px;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
   
}
.show_alarmListBox .show_content1>ul>li>a{
	color: #373d41;
	font-size: 13px;
    text-decoration: none;
    display: inline-block;
    clear: both;
}
.show_alarmListBox .show_content1 li>span{
	color: #73777a; 
    min-width: 122px;
    float: right;
}
.show_alarmListBox .show_content1 li>i{
	line-height: 42px;
	float:right;
	color: #575b5f;
	margin-left: 20px;
}
/*增加alarm page*/

/*鍒嗛〉*/
.pagination{
	margin-right: 20px;
	float: right;
}
.alarm_pagination{
    margin-right: 0px;	
}
/*远程控制命令行的样式*/
.commend_box{
   background: black;
   color: white;
   font:17px/30px "微软雅黑";
   font-weight: 400;
   caret-color:red;/*改变光标的颜色*/
   text-indent: 30px;
}
