html,
body,
div,
table,
span,
img,
ul,
li ,input{
	margin: 0px;
	padding: 0px;
	vertical-align:top;
}
a:hover{
	cursor: pointer;	
}
input[readonly]{
	cursor: not-allowed !important;
}
.wrapper{
	background:#eeeeee;
	overflow: hidden;
}
/*header*/
.register_logo{
	width: 150px;
	height: 48px;
	margin:40px auto;
}
.register_logo>span{
	font: 40px/48px "微软雅黑";
    margin-left: 10px;
	
}
/*center*/
/* center header*/
.register_box{
	width: 1200px;
    background: white;
    margin: 0 auto;
    overflow: hidden;
}
.email_title{
	width: 1100px;
    height: 52px;
    margin: 50px auto;
    margin-bottom: 0px;
    border-bottom: 1px solid #e7e7e7;
}
.email_title span{
	font-size: 24px;
	vertical-align: bottom;
}
.email_title i{
	color: #1296db;
}
.title_right{
	float: right;
   
}
.title_right span{
	font: 14px/52px "微软雅黑";
}
.title_right a{
	color: #00a4ff;
	font: 14px/52px "微软雅黑";
}
/*center centers*/
.register_content{
	width: 420px;
	display: inline-block;
	margin: 30px 0px;
	margin-left: 30%;
	font: 14px/45px "微软雅黑";
}
.register_input{
	width:100%;
	text-indent: 20px;
	display: inline-block;
	height: 45px;
	margin: 10px 0px;
	border: 1px solid #ddd;
}
/*表单验证成功的input*/
.form_inputSuccessCheck{
	width:100%;
	text-indent: 20px;
	display: inline-block;
	height: 45px;
	margin: 10px 0px;
	border: 1px solid #7fe561;
	background: url(../../img/success.png) 380px no-repeat;
}
/*input聚焦*/
.form_inputFocus{
	width:100%;
	text-indent: 20px;
	display: inline-block;
	height: 45px;
	margin: 10px 0px;
	border: 1px solid #00a4ff;
}
/*表单验证失败的input*/
.form_inputErrorCheck{
	width:100%;
	text-indent: 20px;
	display: inline-block;
	height: 45px;
	margin: 10px 0px;
	border: 1px solid #ed4a35;
	background: url(../../img/error.png) 380px no-repeat;
}
.font_hintBox{
	display: inline-block;
    margin-top: 40px;
}
/*表单验证成功的span*/
/*邮箱验证成功后出现发送链接*/
.show_emailA{
	font:14px/45px "微软雅黑";
	display: none;
	position: relative;
    top: -65px;
    left: 20px;
}
.form_spanSucessCheck{
	display: block;
	visibility: hidden;
    margin-bottom: 20px;
    line-height: 45px;
    height: 45px;
    margin-left: 20px;
    color: red;
}
/*表单验证错误的span*/
.form_spanErrorCheck{
	display: block;
	visibility: visible;
    margin-bottom: 20px;
    line-height: 45px;
    height: 45px;
    margin-left: 20px;
    color: red;
}
.register_content .identify_codeInput{
	width:205px;
	height:45px;
	text-indent: 20px;
	margin: 10px 0px;
	border:1px solid #ddd;
}
.register_content .identify_code{
	width: 205px;
	height: 45px;
	float: right;
	margin: 10px 0px;
	margin-left:10px;
	border:1px solid #d1d2d4;
    text-align: center;
	background: #f4f4f4;
}
.register_content .identify_code:hover{
	cursor:pointer;
	background:#dbdada;
}
.register_button,.forgetPassword_button{
	width: 100%;
	height: 45px;
	color: white;
	margin: 10px 0px;
	font-size: 20px;
	text-align: center;
	background: #0097ee;
}
.register_button:hover{
	cursor:pointer;
}
.forgetPassword_button:hover{
	cursor:pointer;
}
/*footer*/
.reg_footer{
	width: 1200px;
	text-align: center;
	margin: 40px auto;
	margin-bottom: 30px;
	font-size:14px;
	color: #999;
	
}
