html,
body,
div,
table,
span,
img,
ul,
li ,input{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
a:hover{
	color:#3d91ff;
	cursor: pointer;
	text-decoration: none;
}
.header_box{
	width:100%;
	height: 70px;
	position: fixed;
	background:black;
	color: #566374;
	z-index: 99999;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.1);/*firefox*/
    -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.1)/*safari鎴朿hrome*/
	
}
.header_left{
	float: left;
}
.header_left .logo{
	display: inline-block;
     margin: 20px 20px;
}
/*瀵艰埅鏉′腑闂�*/
.header_center{
	height: 70px;
	float: left;
	
}
.header_center a{
	display: inline-block;
	margin:10px 20px;
	color:white;
	font: 14px/50px "寰蒋闆呴粦";
}
/*瀵艰埅鏉″彸杈�*/
.header_right{
    float: right;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    color: white;
}

/*用户信息*/
.header_right .usre_info{
	float: right;
	font: 12px/70px "微软雅黑";
}
.header_right .usre_info:hover{
	color: #3d91ff;
}
.header_right .usre_info i{
	color: white;
	margin-left: 10px;
}
/*下拉*/
.header_right .user_infoBox{
	width: 100px;
	height: auto;
	display: none;
	background: #000000;
	overflow: hidden;
	list-style: none;
	position: relative;
	top: -4px;
    left: -10px;
}
.header_right .user_infoBox li{
 text-align: left;
 margin-left: 20px;
}
.header_right .user_infoBox li a{
	color: white;
	font:12px/50px "微软雅黑";
}

.header_right .user_infoBox li a:hover{
	color: #3d91ff;
}
/*通知*/
.header_right .inform{
	float: right;
	margin:25px 0px;
	margin-left: 10px;
}
.header_right .inform span{
	    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #F44336;
    color: white;
    display: inline-block;
    font: 12px/18px "微软雅黑";
    text-align: center;
    position: relative;
    top: -13px;
    left: -9px;
}
.search{
	display: inline-block;
    margin-right: 10px;
}

