.wrapper{
	overflow: hidden;
}
.manage{
	margin-top: 70px;

}
/*面板的总样式*/
.panel_style{
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 1px 2px 1px rgba(0,0,0,.05) ;/*firefox*/
    -webkit-box-shadow:1px 2px 1px rgba(0,0,0,.05);/*safari或chrome*/
}
/*右边展示的盒子*/
.show_box{
	width:100%;
	height: 600px;
	display: inline-block;
	background:#f5f5fa;
}
.show_content{
	margin: 0px 0px 0px 20px;
}
.show_content>.uesr_infoTitle{
	font: 18px/60px "微软雅黑";
    font-weight: 300;
}
.show_content>.uesr_info{
	width:95%;
	height: 400px;
	margin-bottom: 50px;
}
.show_content>.uesr_info ul{
	margin: 10px 20px;
}
.show_content>.uesr_info li{
	width: 400px;
	height: 50px;
	font: 13px/50px "微软雅黑";
	list-style: none;
	
}
.show_content>.uesr_info .userInfo{
	margin-left: 20px;
}
.show_content>.uesr_info li input{
	height: 30px;
}
/*编辑用户信息的div包裹着input和a*/
.edit_nameBox,.edit_photoBox{
	display: none;
	height: 30px;
	
}
.uesr_info a{
   font: 14px/30px "微软雅黑";
   color: #00C1DE;
   margin-left: 10px;
}
.show_content>.uesr_info li i{
	color: #888888;
    margin-left: 10px;
}